

html{
    width: 100%;
    height: 100vh;
    font-family: 'Sen', sans-serif;
}

@media screen and (max-width: 480px) { 
    
    nav{
     display: block;
     position: fixed;
     right: 0px;
     z-index: 10;
    }
    
    #nav{
        margin: auto;
    }
    
    nav li{
        padding: 2vw;
        font-size: 3.5vw;
        text-align: right;
        list-style-type: none;
    }
    
    nav li a{
        text-decoration: none;
        color: #282828;
        font-family: 'Sen', sans-serif;
        font-weight: 700;
        transition: 0.3s;
        letter-spacing: 0.2vw;
    }
    
    nav li a:hover{
        color: #42b65c;
        transition: 0.3s ease-in-out;
    }
    
    .border-vertical{
        position: absolute;
        right: 4vw;
        width: 2.5px;
        height: 12vw;
        background: #282828;
        margin-top: 1.8vw;
    }
    
    .border-horizontal{
        position: absolute;
        display: none !important;
        width: 8vw;
        height: 2px;
        top: 38vw;
        right: 8vw;
        background: #282828;
    }
    
    .section{
        background-color: #fff !important;
        -ms-overflow-style: none;    /* IE, Edge 対応 */
        scrollbar-width: none;       /* Firefox 対応 */
    }
    
    .section::-webkit-scrollbar {  /* Chrome, Safari 対応 */
        display:none;
    }
    
    .section1{
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .section2{
    }
    
    .top-logo-img{
        display: block;
        margin: auto;
        width: 45%;
    }
    
    .top-img-s{
        position: absolute;
        width: 20vw;
        height: 8vw;
        top: 28vw;
        left: 10vw;
        z-index: 10;
    }
    
    .d1{
        position: absolute;
        width: 20vw;
        height: 8vw;
        top: 30vw;
        left: 12vw;
        background: #e3e3e3;
        opacity: 0.4;
    }
    
    .more-b{
        position: absolute;
        width: 25vw;
        height: 2vw;
        top: 79vw;
        right: 10vw;
        font-size: 5vw;
        font-weight: 400;
        letter-spacing: 1vw;
        z-index: 100;
        background: none;
        transition: 0.3s;
        border: none;
    }
    
    .more-b:hover{
        color: #42b65c;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    
    .dot{
        color: #42b65c;
    }
    
    .page-t{
        position: fixed !important;
        top: 0vw;
        left: 5vw;
        font-size: 10vw;
        color: #282828;
        font-weight: 400;
        z-index: 9999;
        letter-spacing: 0.2vw;
    }
    
    .section .page-cts{
        display: block;
        position: absolute;
        background: rgba(250, 250, 250, 0.85);
        width: 45vw;
        padding: 6vw 4vw 6vw 4vw;
        left: 13vw;
        top: 18vw;
        color: #282828;
        font-size: 2.5vw;
        font-weight: 100;
        font-family: 'Noto Sans JP', sans-serif;
        letter-spacing: 0.2vw;
        z-index: 99;
    }
    
    .about-img{
        position: absolute;
        object-fit: cover;
        width: 100vw;
        right: 0px;
        bottom: 15vw;
    }
    
    .product-img-m{
        text-align: center;
    }
    
    .product-img{
        display: inline-block;
        position: relative;
        width: 30vw;
        height: 70vw;
        object-fit: cover;
        opacity: 0.6;
        transition: 0.3s;
    }
    
    .product-img:hover{
        opacity: 1;
        transition: 0.3s ease-in-out;
    }
    
    #pages-all{
        width: 100%;
    }
    
    .pages-img1{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    
    }

@media screen and (min-width: 1156px) {
    
*{
    margin: 0;
    cursor: none !important;
    }

body{
    cursor: none !important;
}

html body a{
    cursor: none !important;
}


.cursor {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0; 
  background: #42b65c;
  z-index: 9999;
  cursor: none !important;
  pointer-events: none;
}

nav{
    display: block;
    position: fixed;
    right: 0px;
    z-index: 10;
}

#nav{
    margin: auto;
}

nav li{
    padding: 1vw;
    font-size: 1vw;
    text-align: right;
    list-style-type: none;
}

nav li a{
    text-decoration: none;
    color: #282828;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    transition: 0.3s;
    letter-spacing: 0.2vw;
}

nav li a:hover{
    color: #42b65c;
    transition: 0.3s ease-in-out;
}

.border-vertical{
    position: absolute;
    right: 1.8vw;
    width: 2px;
    height: 8vw;
    background: #282828;
    margin-top: 1.8vw;
}

.border-horizontal{
    position: absolute;
    width: 8vw;
    height: 2px;
    top: 38vw;
    right: 8vw;
    background: #282828;
}

.section{
    background-color: #fff !important;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}

.section::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

.section1{
    background-size: cover;
    background-repeat: no-repeat;
}

.section2{
}

.top-logo-img{
    display: block;
    margin: auto;
    width: 25%;
}

.top-img-s{
    position: absolute;
    width: 20vw;
    height: 8vw;
    top: 28vw;
    left: 10vw;
    z-index: 10;
}

.d1{
    position: absolute;
    width: 20vw;
    height: 8vw;
    top: 30vw;
    left: 12vw;
    background: #e3e3e3;
    opacity: 0.4;
}

.more-b{
    position: absolute;
    width: 8vw;
    height: 3vw;
    top: 29vw;
    left: 34.5vw;
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0.2vw;
    z-index: 100;
    background: none;
    transition: 0.3s;
    border-top: 0px solid #282828;
    border-right: 0px solid #282828;
    border-bottom: 2px solid #282828;
    border-left: 0px solid #282828;
}

.more-b:hover{
    color: #e3e3e3;
    background: #42b65c;
    border-bottom: 2px solid #42b65c;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.dot{
    color: #42b65c;
}

.page-t{
    position: fixed !important;
    top: 2vw;
    left: 5vw;
    font-size: 5vw;
    color: #282828;
    font-weight: 400;
    z-index: 9999;
    letter-spacing: 0.2vw;
}

.section .page-cts{
    display: block;
    position: absolute;
    background: rgba(250, 250, 250, 0.85);
    width: 28vw;
    padding: 6vw 4vw 6vw 4vw;
    left: 8vw;
    top: 5.5vw;
    color: #282828;
    font-size: 0.8vw;
    font-weight: 100;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.2vw;
    z-index: 99;
}

.about-img{
    position: absolute;
    width: 48vw;
    left: 41vw;
    transform: translateY(-50%);
    -webkit- transform: translateY(-50%);
}

.product-img-m{
    text-align: center;
}

.product-img{
    display: inline-block;
    position: relative;
    width: 20vw;
    height: 40vw;
    object-fit: cover;
    opacity: 0.6;
    transition: 0.3s;
}

.product-img:hover{
    opacity: 1;
    transition: 0.3s ease-in-out;
}

#pages-all{
    width: 100%;
}

.pages-img1{
    position: absolute;
    width: 100%;
    height: 100vh;
    zoom: 1.5;
    object-fit: cover;
}

}